<form ng-submit="submit()" name="listForm" class="styled-form row nine columns">
    
  <header>
    <h2 ng-if="newList">Create New List</h2>
    <h2 ng-if="!newList">Update List</h2>
  </header>

  <fieldset>
    <legend>List Info</legend> 
    <ul class="row">
      <li class="field six columns">
        <label class="block">Title: </label>
        <input type="text" class="text input" ng-model="list.title" />
      </li>
      <li class="field six columns">
        <label>Keywords: </label>
        <input type="text" class="input" ng-model="list.keywords" />
      </li>
    <ul>
    <ul class="row">
      <li class="field">
        <label>Summary: </label>
        <textarea class="input textarea" ng-model="list.summary"></textarea>
      </li>
    </ul>
  </fieldset>

  <nav>
    <div class="pretty medium info btn">
      <input type="submit" value="submit" class="button" />
    </div>
  </nav>

</form>
